---
import Layout from "../layouts/Layout.astro";
import SectionContainer from "../components/SectionContainer.astro";
import { getLang, useTranslations } from '../i18n/utils';
import GithubMain from '../components/github/GithubMain'

type tLang = (str: any) => any;

const lang = getLang();
const t:tLang = useTranslations(lang);
---

<Layout
  title={t('layouts').blog.title}
  description={t('layouts').blog.description}
>
  <main class="px-4">
    <SectionContainer id="github" class="lg:max-w-6xl md:max-w-4xl py-16 md:py-36">
      <GithubMain client:only=”react”/>
    </SectionContainer>
  </main>
</Layout>