---
import Layout from "../layouts/Layout.astro";
import SectionContainer from "../components/SectionContainer.astro";
import { getLang, useTranslations } from '../i18n/utils';

type tLang = (str: any) => any;

const lang = getLang();
const t:tLang = useTranslations(lang);
---

<Layout
  title={t('layouts').blog.title}
  description={t('layouts').blog.description}
>
  <main class="px-4">
    <SectionContainer id="github" class="py-16 md:py-36">
      <h1 class="flex justify-center">Work in progress</h1>
    </SectionContainer>
  </main>
</Layout>
