---
import Layout from "../layouts/Layout.astro";
import SectionContainer from "../components/SectionContainer.astro";
import UrlMain from '../components/url/UrlMain';
import { getLang, useTranslations } from '../i18n/utils';

type tLang = (str: any) => any;

const lang = getLang();
const t:tLang = useTranslations(lang);
---

<Layout
  title={t('layouts').url.title}
  description={t('layouts').url.description}
>
  <main class="px-4">
    <SectionContainer id="url" class="lg:max-w-6xl md:max-w-4xl py-16 md:py-36">
      <UrlMain client:only="react"/>
    </SectionContainer>
  </main>
</Layout>