---
import { Image } from 'astro:assets';
import { getLangFromUrl, useTranslations } from '../i18n/utils';
import myAboutImage from '../assets/images/about-me.webp';

type tLang = (str: any) => any;

const lang = getLangFromUrl(Astro.url);
const t: tLang = useTranslations(lang);
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-[#F800AE] dark:[&>p>strong]:text-[#F800AE] [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
    set:html={t('sections').about.personalDescription}
    >
  </div>

  <Image 
    width="400" 
    height="400" 
    src={myAboutImage}
    alt={t('sections').about.personalImageAlt} 
    class="order-1 object-cover w-80 h-100 p-1 bg-white md:order-2 rotate-3 lg:p-2 rounded-2xl dark:bg-yellow-500/5 ring-1 ring-white/20" style="object-position: 50% 50%"
  />

</article>
