---
import ExperienceItem from "./ExperienceItem.astro"
import { getLang, useTranslations } from '../i18n/utils';

type tLang = (str: any) => any;

const lang = getLang();
const t:tLang = useTranslations(lang);

type Experience = {
  title: string;
  company: string;
  date: string;
  description: string;
  link: string;
}

const EXP: any = t('experience');
---

<ol class="relative mt-16">
  {
    EXP.map((experience: Experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
