<a
  {...Astro.props}
  target="_blank"
  rel="noopener noreferrer"
  role="link"
  class="inline-flex items-center justify-center gap-2 px-4 py-1 transition focus-visible:ring-yellow-500/80 text-md focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 
  active:bg-black
  hover:bg-[#4D4444] group max-w-fit hover:text-white hover:scale-105
  border border-[#4D4444] rounded-full hover:dark:border-[#F800AE]/60 hover:border-[#F800AE]/60
  text-[#4D4444] bg-[#D6D5D6]/90 dark:text-[#F1EEEE] dark:bg-[#746D6E]/90
  cursor-pointer backdrop-blur-3xl whitespace-nowrap"
>
  <slot />
</a>
