---
import "@fontsource-variable/onest"

import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import { ViewTransitions } from "astro:transitions"
import { setDefaultLang } from '../i18n/ui';
import { getLang } from '../i18n/utils';

const lang: any = Astro.url.searchParams.get('lang') || getLang();
setDefaultLang(lang);

interface Props {
  title: string
  description: string
}

const { description, title } = Astro.props;
---
<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />

    <!-- Primary Meta Tags -->
    <title>Software Engineer - Ready for the next adventure.</title>
    <meta name="description" content="Full-Stack Developer with experience in various tools and technologies, passionate about coding, learning, and good coffee. Ready to face challenges.">
    <meta name="keywords" content="Full-Stack Developer, JavaScript, TypeScript, Node.js, React, Vue, Angular, HTML, CSS, SQL, NoSQL, Web Development, Software Engineer">
    <meta name="author" content="Epilef Rodriguez">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.epilef.org/">
    <meta property="og:title" content="Full-Stack Developer Portfolio">
    <meta property="og:description" content="Full-Stack Developer with experience in various tools and technologies, passionate about coding, learning, and good coffee. Ready to face challenges.">
    <meta property="og:image" content="/img/logo-v2.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://www.epilef.org/">
    <meta property="twitter:title" content="Full-Stack Developer Portfolio">
    <meta property="twitter:description" content="Full-Stack Developer with experience in various tools and technologies, passionate about coding, learning, and good coffee. Ready to face challenges.">
    <meta property="twitter:image" content="/img/logo-v2.png">

    <!-- Apple -->
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Android -->
    <meta name="theme-color" content="#317EFB"/>
    <meta name="mobile-web-app-capable" content="yes">
    <!-- Add to homescreen for Chrome on Android -->
    <meta name="application-name" content="Your App Name">
    <link rel="icon" sizes="36x36" href="/android-icon-36x36.png">
    <link rel="icon" sizes="48x48" href="/android-icon-48x48.png">
    <link rel="icon" sizes="72x72" href="/android-icon-72x72.png">
    <link rel="icon" sizes="96x96" href="/android-icon-96x96.png">
    <link rel="icon" sizes="144x144" href="/android-icon-144x144.png">
    <link rel="icon" sizes="192x192" href="/android-icon-192x192.png">

    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
    <!-- Google Tag Manager -->
    <script>
      import { loadGTM } from '../scripts/gtm.ts';
      loadGTM(window, document, 'script', 'dataLayer', 'GTM-NMXF995G');
    </script>
    <!-- End Google Tag Manager -->
  </head>

  <body class="relative text-black dark:text-white">
    <div
      class="absolute top-0 bottom-0 z-[-2] min-h-screen w-full
      bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,#DAD9DA,rgba(255,255,255,0.9))]
      dark:bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,#2B2B2B,rgba(255,255,255,0))]"
    >
    </div>
    <Header />
    <slot />
    <Footer />
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NMXF995G"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <style is:global>
      :root {
        color-scheme: light dark;
      }

      html {
        font-family: "Onest Variable", system-ui, sans-serif;
        scroll-behavior: smooth;
      }

      body {
        color: rgba(17, 17, 17, 0.9);
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        overscroll-behavior: none;
      }

      .dropdown:hover .dropdown-menu {
          display: block;
        }

      @media (prefers-reduced-motion: reduce) {
        html {
          scroll-behavior: auto;
        }
      }

      @media (prefers-color-scheme: dark) {
        body {
          color: rgba(255, 255, 255, 0.9);
        }
      }

      #header-nav {
        animation: blur linear both 0.5s;
        animation-timeline: scroll();
        animation-range: 0 500px;
      }

      @keyframes blur {
        to {
          backdrop-filter: blur(20px);
          border-width: 1px;
          border-color: rgba(0, 0, 0);
          padding: 0.25rem 0.75rem;
          display: flex;
          flex-direction: row;
          align-items: center;
          background-color: rgb(229, 229, 229);
          border-radius: 9999px;
        }
      }

      @media (prefers-color-scheme: dark) {
        @keyframes blur {
          from {
            border: 0px;
          }
          to {
            box-shadow:
              0px 5px 50px -5px rgba(0, 0, 0, 0.1),
              0px 0px 0 1px rgba(0, 0, 0, 0.3);
            background: rgba(0, 0, 0, 0.3);
            backdrop-filter: blur(20px);
            border-width: 1px;
            border-color: rgba(0, 0, 0);
            padding-left: 0.75rem;
            padding-right: 0.75rem;
            padding-top: 0.25rem;
            padding-bottom: 0.25rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.3);
            border-radius: 9999px;
          }
        }
      }
    </style>
  </body>
</html>
