.section-container-chatgpt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  padding-bottom: 1rem;
}

.chat-left-panel{
  flex-basis: 40%;
  padding: 0.5rem;
}

.chatgpt-img {
  padding: 1rem;
}

.chatgpt-img img{
  max-width: 10rem;
  max-height: 10rem;
  object-fit: cover;
}

.what-title {
  margin-bottom: 2rem;
}

.what-title h2 {
  color: #ffffff;
  font-weight: 600;
  font-size: 2.5rem;
  text-shadow: 0 0 6px #212529;
}

.what-title h2 .foxy {
  color: #f800ae;
  font-size: 3rem;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
  text-decoration: none;
  margin-right: 5px;
}

.resume {
  display: none;
}

.resume p {
  padding: 0 3rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: calc(100vw - 2rem);
  max-height: calc(100vh - 2rem);
  background-color: #f5f5f5;
  border-radius: 10px;
  /* Add a border to the card */
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.chat-content {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  box-shadow: inset 0 0 20px 0 rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.chat-message {
  display: flex;
  flex-direction: column;
  margin: 0 1rem 1rem 1rem;
}

.chat-message:first-child {
  margin-top: 2rem;
}

.chat-message-bot {
  align-items: flex-start;
}

.chat-message-user {
  align-items: flex-end;
}

.chat-message-user .chat-message-text {
  background-color: #4d4444;
  color: #fff;
  text-align: right;
}

.chat-message-bot .chat-message-text {
  text-align: left;
}

.chat-message-text {
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  line-height: 1.5;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.chat-message-date {
  font-size: 12px;
  color: #999;
  margin-top: 5px;
}

.chat-message-user .chat-message-date {
  text-align: right;
}

.chat-message-bot .chat-message-date {
  text-align: left;
}

.chat-input-container {
  display: flex;
  padding: 10px;
}

.chat-input {
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  font-size: 14px;
}

.chat-button {
  margin-left: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 0.2px 1px #f800ae;
  -moz-box-shadow: 0px 0px 0.2px 1px #f800ae;
  box-shadow: 0px 0px 0.2px 1px #f800ae;
}

@media (min-width: 60rem) {
  .section-container-chatgpt {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 0;
  }
  .chat-left-panel {
    padding: 2rem;
    align-self: flex-start;
  }
  .chat-container {
    max-width: 40rem;
  }
  .chatgpt-img img{
    max-width: 100%;
    max-height: 100%;
  }
  .resume{
    display: block;
  }
  .chat-message {
    margin: 0 2rem 2rem 2rem;
  }
}



