.main {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  height: 100vh;
  overflow: auto;
}

.section-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1.5rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 1.5rem;
  max-width: 70rem;
  height: 18rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-image {
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.avatar {
  margin-bottom: 0.5rem;
  width: 100%;
  max-height: 5rem;
  border-radius: 4px 4px 0 0;
}

.header-left {
  padding: 0.8rem;
}

.card-header-title {
  margin-top: 1rem;
  font-size: 1.5em;
  font-weight: bold;
}

.card-header-subtitle {
  font-size: 1em;
  color: #888;
}

.card-body {
  display: flex;
  flex-direction: column;
  padding: 0.8rem;
}

.card-body-company {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.card-body-project {
  font-size: 1em;
  color: #888;
  margin-bottom: 0.5rem;
}

.card-body-tech {
  font-size: 1em;
  color: #8e9cfb;
  padding: 0.5rem 0.5rem 0 0;
}

.card-footer {
  padding: 0.8rem;
  text-align: right;
  font-size: 1em;
  color: #888;
  display: flex;
  justify-content: space-between;
}

.card-footer-link {
  color: #8e9cfb;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

@media screen and (min-width: 1660px){
  .card {
    max-width: 50rem;
    margin: 1rem;
  }
  
}

@media screen and (max-width: 830px) {
  .card-header {
    flex-direction: column-reverse;
    margin: 0;
    padding: 0;
  }

  .header-left {
    padding: 0.8rem;
  }

  .card {
    height: auto;
  }

  .card-image {
    height: 8rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .avatar {
    margin-bottom: 0;
    width: auto;
    max-height: 10rem;
  }
}