.main {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.content {
  flex-basis: 100%;
}

.section-container-what {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  min-height: 100vh;
  min-height: 100dvh;
  border: 2px solid #f800ae;
}

.left-panel {
  border: 2px solid limegreen;
  width: 100%;
  display: flex;
  justify-content: start;
  flex-direction: column;
}

.right-panel {
  border: 2px solid orange;
  width: 100%;
}

.section-container-what::-webkit-scrollbar {
  width: 0.5em;
  border-radius: 0.5em;
}

.section-container-what::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #f800ae44;
}

.section-container-what::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.github-img {
  padding: 2rem;
}

.what-title {
  margin-bottom: 2rem;
}

.what-title h2 {
  color: #ffffff;
  font-weight: 600;
  font-size: 2.5rem;
}

.what-title h2 .foxy {
  color: #f800ae;
  font-size: 3rem;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
  text-decoration: none;
  margin-right: 5px;
}

.input-label {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
}

.input-search {
  -webkit-box-shadow: 0px 0px 0.2px 1px #f800ae;
  -moz-box-shadow: 0px 0px 0.2px 1px #f800ae;
  box-shadow: 0px 0px 0.2px 1px #f800ae;
  opacity: 0.6;
  height: 1.5rem;
  width: 18rem;
  margin: 0 auto;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.input-description {
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
  font-size: 80%;
  font-weight: 400;
  line-height: 1.5;
  color: #6c757d;
}

.main-button {
  border: solid 2px #4d4444;
  padding: 0.6rem 4rem;
  display: inline-block;
  margin-top: 1rem;
  margin-bottom: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 4vh;
  font-weight: 400;
  color: #4d4444;
  background-color: #d6d5d6;
  -webkit-box-shadow: 0px 0px 0.2px 1px #f800ae;
  -moz-box-shadow: 0px 0px 0.2px 1px #f800ae;
  box-shadow: 0px 0px 0.2px 1px #f800ae;
  opacity: 0.6;
}

.main-button:hover {
  -webkit-box-shadow: 0px 0px 2px 1px #f800ae;
  -moz-box-shadow: 0px 0px 2px 1px #f800ae;
  box-shadow: 0px 0px 2px 1px #f800ae;
  opacity: 1;
}

.explanation {
  display: none;
  font-size: rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}

.explanation p {
  padding: 0 2rem;
  margin-bottom: 0.5rem;
}

.explanation ol {
  padding: 0 2rem;
  margin-bottom: 0.5rem;
}

.explanation ol li {
  margin-left: 2rem;
  margin-bottom: 0.5rem;
  list-style-type: disc;
}


@media (min-width: 60rem) {
  .section-container-what {
    flex-wrap: nowrap;
  }
  
  .left-panel {
    width: 40%;
  }

  .right-panel {
    width: 60%;
  }

  .explanation {
    display: block;
  }
}

