.section-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 5rem;
  padding: 2rem;
}

.logo-name {
  margin-top: 2rem;
  width: fit-content;
  font-family: Roboto,sans-serif;
  -webkit-font-smoothing: antialiased;
}
.title {
  margin-top: 10%;
  text-align: center;
}

.title h1 {
  color: #fdfffc;
  font-size: 2vw;
  letter-spacing: 5px;
}

.title h2 {
  font-family: "Raleway", sans-serif;
  font-size: 1.4vw;
  letter-spacing: 5px;
}

.first-row span {
  background-color: #4d4444;
  position: relative;
  right: 20%;
}

.second-row span {
  background-color: #4d4444;
  position: relative;
  left: 10%;
}

.second-row::first-letter {
  color: #f800ae;
}
.description-container {
  margin-top: 4rem;
  max-width: 50%;
  text-align: left;
}
.description-container p {
  -webkit-font-smoothing: antialiased;
  color: #212529;
  font-family: Roboto,sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 1rem;
  margin-top: 0;
  text-align: left;
}

.social-networks-links {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  width: 18rem;
}

.link-container {
  margin: 5px;
}

.instagram:hover {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
  transition: all 0.5s ease-in-out;
}
.twitter:hover {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
  transition: all 0.5s ease-in-out;
}
.linkedin:hover {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
  transition: all 0.5s ease-in-out;
}
.github:hover {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
  transition: all 0.5s ease-in-out;
}
.hackerrank:hover {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
  transition: all 0.5s ease-in-out;
}
@media screen and (max-width: 700px) {
  .title h1 {
    color: #fdfffc;
    font-size: 2rem;
    letter-spacing: 5px;
  }

  .title h2 {
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    letter-spacing: 5px;
  }
  .description-container {
    width: 90%;
    max-width: unset;
    font-size: 4rem;
  }
}